<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".bebida4aActivity"
            android:exported="false"
            android:label="Bebida 4 del Restaurante A"/>
        <activity
            android:name=".bebida3aActivity"
            android:exported="false"
            android:label="Bebida 3 del Restaurante A"/>
        <activity
            android:name=".bebida2aActivity"
            android:exported="false"
            android:label="Bebida 2 del Restaurante A"/>
        <activity
            android:name=".bebida1aActivity"
            android:exported="false"
            android:label="Bebida 1 del Restaurante A"/>
        <activity
            android:name=".comida4aActivity"
            android:exported="false"
            android:label="Comida 4 del Restaurante A" />
        <activity
            android:name=".comida3aActivity"
            android:exported="false"
            android:label="Comida 3 del Restaurante A" />
        <activity
            android:name=".comida2aActivity"
            android:exported="false"
            android:label="Comida 2 del Restaurante A" />
        <activity
            android:name=".comida1aActivity"
            android:exported="false"
            android:label="Comida 1 del Restaurante A" />
        <activity
            android:name=".complementoActivity4"
            android:exported="false"
            android:label="Complementos 4" />
        <activity
            android:name=".bebidaActivity4"
            android:exported="false"
            android:label="Bebidas 4" />
        <activity
            android:name=".comidaActivity4"
            android:exported="false"
            android:label="Comidas 4" />
        <activity
            android:name=".complementoActivity3"
            android:exported="false"
            android:label="Complementos 3" />
        <activity
            android:name=".bebidaActivity3"
            android:exported="false"
            android:label="Bebidas 3" />
        <activity
            android:name=".comidaActivity3"
            android:exported="false"
            android:label="Comidas 3" />
        <activity
            android:name=".complementoActivity2"
            android:exported="false"
            android:label="Complementos 2" />
        <activity
            android:name=".bebidaActivity2"
            android:exported="false"
            android:label="Bebidas 2" />
        <activity
            android:name=".comidaActivity2"
            android:exported="false"
            android:label="Comidas 2" />
        <activity
            android:name=".complementoActivity1"
            android:exported="false"
            android:label="Complementos 1" />
        <activity
            android:name=".bebidaActivity1"
            android:exported="false"
            android:label="Bebidas 1" />
        <activity
            android:name=".comidaActivity1"
            android:exported="false"
            android:label="Comidas 1" />
        <activity
            android:name=".ResActivity4"
            android:exported="false"
            android:label="@string/Restaurante_D" />
        <activity
            android:name=".ResActivity3"
            android:exported="false"
            android:label="@string/Restaurante_C" />
        <activity
            android:name=".ResActivity2"
            android:exported="false"
            android:label="@string/Restaurante_B" />
        <activity
            android:name=".ResActivity1"
            android:exported="false"
            android:label="@string/Restaurante_A" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>